/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*=========================================================
Custom Styles
==========================================================*/

html {
    font-size: 12px;
	height: 100vh;
    font-family: "Andale Mono", monospace;
    background-color: #b1d1cd;
}

/*=========================================================
Title Interface
=========================================================*/

.title {
	font-size: 4em;
	box-sizing: border-box;
	color: #2f3074;
	font-weight: 600;
	margin: 10px;
	padding: 20px;
	text-align: center;
}

#add-book {
	font-size: 2em;
	color: #2f3074;
	background-color: rgb(224, 224, 224);
	display: block;
	margin: 30px auto;
	width: 12%;
	border-radius: 8px;
	position: absolute;
	top: 20px;
	right: 50px;
}

hr {
	border-top: 2px #2f3074 solid;
}
/*========================================================
Form to add book
=========================================================*/

#header {
	margin: 30px;
}

.input-form {
	display: block;
	font-size: 2em;
	background: rgb(224, 224, 224);
	box-sizing: border-box;
	border: 1px solid grey;
	box-shadow: 1px 1px 1px 1px;
	width: 30%;
	height: 70%;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 90px;
	margin: auto;
	border-radius: 10px;
	text-align: center;
	vertical-align: center;
	z-index: 2;
}

.text-field {
	width: 70%;
	height: 2.5em;
	left: 50;
	right: 0;
	margin-bottom: 23%;
	border-radius: 5px;
}

.hidden {
	display: none;
}

#submit-btn {
	position: absolute;
	background-color: #d6e0df;
	border-radius: 5px;
	border: 1px solid #7aada8;
	font-size: 14px;
	height: 10%;
	bottom: 8px;
	right: 8px;
}

.switch {
	position: absolute;
	border-radius: 5px;
	bottom: 20px;
	left: 30px;
}

/*=========================================================
Library card stylings
==========================================================*/

#shelf {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
.card {
	font-family: "URW Chancery L", cursive;
	font-size: 1.8em;
	box-sizing: border-box;
	display: block;
	background-color: rgb(190, 173, 158);
	border: 1px solid black;
	box-shadow: 0px 0px 4px black;
	width: 20%;
	margin: 15px;
	border-radius: 10px;
	
}

.card p {
	margin: 10px auto;
	text-align: left;
	padding: 30px;
}

/*============================================================
Button stylings
==============================================================*/

.delete {
	background-color: rgb(163, 149, 136);
	height: 30px;
	position: relative;
	float: right;
	margin: 20px;
	border-radius: 10px;
}

.read-switch {
	position: relative;
	left: 25px;
	top: 47px;
}