/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*=========================================================
Custom Styles
==========================================================*/

body, html {
    font-size: 12px;
    font-family: "URW Chancery L", cursive;
    background-color: #46ccb6;
    height: 100vh;
    width: 100vw;
}

/*=========================================================
Title Interface
=========================================================*/

.title {
	font-size: 4em;
	font-weight: 600;
	width: 30%;
	margin: 5% auto 0;
}

#add-book {
	font-family: "URW Chancery L", cursive;
	font-size: 2em;
	display: block;
	margin: 30px auto;
	width: 12%;
	border-radius: 8px;
}

/*========================================================
Form to add book
=========================================================*/

.input-form {
	display: block;
	font-size: 2em;
	background: white;
	width: 40%;
	height: 70%;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 90px;
	margin: auto;
	border-radius: 10px;
	text-align: center;
	vertical-align: center;
}

.text-field {
	width: 70%;
	height: 2.5em;
	margin-top: 5%;
	left: 50;
	right: 0;
	border-radius: 5px;
}

.hidden {
	display: none;
}

/*=========================================================
Library card stylings
==========================================================*/

#shelf {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
.card {
	font-size: 2em;
	box-sizing: border-box;
	display: block;
	background-color: rgb(190, 173, 158);
	border: 1px solid black;
	width: 30%;
	margin: 15px;
	border-radius: 10px;
	
}

.card p {
	margin: 10px auto;
	text-align: center;
	padding: 30px;
}